// Areas
$color-menu: #DE443C;
$color-recipe: #fb8c00;
$color-inspirar: #92A6D3;
$color-agenda: #F8776F;
$color-lista: #919191;

// Brand Colors
$brand-lighter: #f2f5dc;
$brand-light: #E3EAA5;
$brand-main: $color-menu;
$brand-dark: darken($color-menu, 10);
$brand-green: #93cb1c;

$neutral: #A1A3A3;
$neutral-light: #d4d3d3;
$neutral-lighter: #F7F7F7;
$neutral-dark: #838487;
$neutral-darker: #67686A;

// Interactive Colors
$interactive-blue: #58C9D4;
$interactive-blue-dark: #0061A3;
$brand-accent: #F45520;
$brand-accent-dark: #B91228;
$brand-accent-darker: #7D2027;
$brand-faded: #ce8477;
$star-rate: #FFCE00;

// Bases
$color-light: #F5F5F5;
$color-dark: #585858;
$color-lighter: #FFFFFF;
$color-light-gray: #dadada;
$black: black;
$white: white;
$lighter-black: #555;
$footer-black: #212121;

// Social Networks
$facebook: #3b5998;
$whatsapp: #25D366;
