<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Webpack HTML + SASS + JS</title>
  </head>
  <body>
    <section class="container">
      <div class="row">
        <div class="col-12">
          <h1>
            <%= 'Webpack HTML + SASS + JS' %>
          </h1>
        </div>
      </div>
    </section>
  </body>
</html>
